<!DOCTYPE html>
{% load static %}
{% load auth_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <title>Zielony zakątek</title>
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
 <header class="page-header">
        <nav class="navbar navbar-expand-lg justify-content-around">
            <a href="/" class="navbar-brand main-logo">
                Zielony <span>Zakątek</span>
            </a>
            <ul class="nav nounderline text-uppercase">
                <li class="nav-item ml-4">
                    <a class="nav-link" href="http://127.0.0.1:8000/restauracja_app/about/">O nas</a>
                </li>
                <li class="nav-item ml-4">
                    <a class="nav-link" href="http://127.0.0.1:8000/restauracja_app/table_list/">Zarezerwuj stolik</a>
                </li>
                <li class="nav-item ml-4">
                    <a class="nav-link" href="http://127.0.0.1:8000/restauracja_app/category/">Menu</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item ml-4">
                    <a class="nav-link " href="http://127.0.0.1:8000/accounts/login/">logowanie</a>
                </li>
                <li class="nav-item ml-4">
                    <a class="nav-link " href="http://127.0.0.1:8000/accounts/registration/">rejestracja</a>
                </li>
                {% else %}
                <li class="nav-item ml-4">
                    <a class="nav-link"  href="http://127.0.0.1:8000/accounts/logout/">Wyloguj</a>
                </li>
                {% endif %}
                <li class="nav-item ml-4">
                    <a class="nav-link"  href="http://127.0.0.1:8000/restauracja_app/order-details/">Koszyk</a>
                </li>
            {% if user.is_authenticated %}
                <li>
                    <p class="nav-link">Witaj: {{ user.first_name }}</p>
                </li>
            {% endif %}
            </ul>

<div class="dropdown">
{% if user.is_authenticated and request.user|has_group:"Pracownicy" %}
  <button class="dropbtn">Więcej</button>
  <div class="dropdown-content">
    {% if perms.Restauracja_app.add_category %}
        <a href="http://127.0.0.1:8000/restauracja_app/add_category/">Dodaj kategorie</a>
    {% endif %}
    {% if perms.Restauracja_app.add_menu %}
        <a href="http://127.0.0.1:8000/restauracja_app/add_menu/">Dodaj Danie</a>
    {% endif %}
  {% if perms.Restauracja_app.view_reserve %}
    <a href="http://127.0.0.1:8000/restauracja_app/reserve_list/">Rezerwacje</a>
  {% endif %}

  <a href="http://127.0.0.1:8000/Waiter/waiter_index/">Obsługa kelnerska</a>

  </div>
{% endif %}
</div>

        </nav>
    </header>
    {% block content %}
    {% endblock %}



</body>
</html>