{% extends 'base.html' %}
{% block content %}
<section class="form_box">
    <form class="form" action="" method="POST">
        {% csrf_token %}
        <h2 class="form_title">Rezerwujesz stolik:<br>{{ table.name }}</h2>
        <div class="first_form">
            <label class="name_label" id="lat_name">Nazwisko:</label>
            <input class="name_input" type="text" name="last_name" placeholder="Nazwisko" >
            <label class="name_label" id="date">Data:</label>
            <input class="name_input" type="date" name="date" placeholder="Data" >
            <label class="name_label" id="date">Czas:</label>
            <input class="name_input" type="time" name="time" placeholder="Czas" >
        </div>
        <input class ="form_button" type="submit" value="Rezerwuj">
        <div>
        <h2>Rezeracje:</h2>
            <ul>
            {% for tab in reservations %}
            <p>Data rezeracji: <b>{{ tab.date }} {{ tab.time }}</b></p>
            {% endfor %}
            </ul>
        </div>
    </form>
</section>
{% if error %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endblock %}