{% extends 'base.html' %}
{% block content %}
<div class="btn-group">
    <a href="http://127.0.0.1:8000/restauracja_app/reserve_list/" class="btn btn-primary">Rezerwacje</a>
</div><br>
<h4>Wybierz kategorie w której znajduje się danie wybrane przez klienta lub polec sam wybraną przez siebie kategorie:</h4>
<div class="btn-group">
    {% for i in category %}
  <a href="http://127.0.0.1:8000/Waiter/waiter_menu/{{ i.slug }}/" class="btn btn-primary">{{ i.name }}</a>
    {% endfor %}

</div>
{% endblock %}

